/* Dashboard admin article */

.form_event_article input,
.form_headline_article input,
.form_detail_article input {
    padding: 5px 0.7rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    width: 80%;
}

.header-dashboar-article a {
    margin-right: 1rem;
}

.form_detail_article textarea {
    width: 30rem;
}

.form-content-dasboard-article .more-btn {
    background-color: #3a60d0;
    color: #ffff;
    padding: 6px;
    border-radius: 6px;
    margin-top: 10px;
}

.dashboard-article {
    border-radius: 1rem;
    background-color: #ffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}
